{% extends "base.html"%}


{% block content%}

<div style="width=100%;height:4rem;">
</div>
<div class="container-mt-5" id="infos">
    <div class="container" id="info1"  style="margin-bottom:5rem;">
        <p>Warmest welcome to this site! If you read this, you are one of very few ;)  </p>
        <p>I am offering you unique beats and sound packs of quality samples. I also am offering <strong>custom productions</strong> and <b>mixing services</b>, feel free to contact me on Instagram or in this formular down here.</p>
        <p> Before purchasing beats coming with a standard licence check out the licence page to get all the information</p>    
    </div>
    <div class="container" id="info2" style="margin-bottom:2rem;">
        <p>What am I you may ask? I been looking for an answer for a while now. In my current state of mind I'd describe me like that. I'm a seeker, a discoverer. Born and grown up in small villages around Germany. I really love nature, calmness, sounds, technologie and great ideas. My passion for music been present all the time. I once wanted to become a live musician then a producer and now a software developer 
            but I still want to follow my musical passion and imo this is the perfect way to do this. Enjoy :)
        </p>
    </div>
    <div class="container" id="info3"  style="margin-bottom:5rem;">
        <p>It's been a crazy ride until now but finally I am at a point where I can make some noise and give something back to you!</p>
    </div>


    
    
</div>
<hr style="margin-top: 3rem;"> 
<div style="width=100%;height:5rem;">
</div>


{% endblock%}