{% extends "base.html"%}


{% block content%}

<div style="width=100%;height:4rem;">
</div>
<div class="container-mt-5" id="infos">
    <div class="container" id="info1"  style="margin-bottom:5rem;">
        <p>Warmest welcome to this site! If you read this, you are one of very few ;)  </p>
        <p>I am offering you unique beats and sound packs of quality samples. I also am offering <strong>custom productions</strong> and <b>mixing services</b>, feel free to contact me on Instagram or in this formular down here.</p>
        <p> Before purchasing beats coming with a standard licence check out the licence page to get all the information</p>    
    </div>
    <div class="container" id="info2"  style="margin-bottom:5rem;">
        <p>It's been a crazy ride until now but finally I am at a point where I can make some noise and give something back to you!</p>
    </div>

    <div class="container" id="info3" style="margin-bottom:2rem;">
        <p>Welcome to my Website oh and I really can say mine because i made this fucker from scratch. Not that it's something special or you won't find some odd things, I'm sure u will ;) 
            Anyway I'm glad and I'm feelings tell me to be pride. As I'm going to study computer science my intuitions made me create this websites</p>
    </div>
    
    
</div>
<hr style="margin-top: 3rem;"> 
<div style="width=100%;height:5rem;">
</div>


{% endblock%}