{% extends "base.html" %}
{% load static %}

{% block extra_head%}
<link href="{% static 'css/switch.css' %}" rel="stylesheet">

{% endblock%}

  {%block content %}
  {% comment %} <img src="{%static 'img/Banner/Headerclean.png'%}"> {% endcomment %}
  {% comment %} {% include "main/carousel.html" %} {% endcomment %}

  <!--Main layout-->
  <main>
    <div class="container" id="category_container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg mt-3 mb-5"  id="category_navbar">

        <!-- Navbar brand -->
        {% comment %} <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> {% endcomment %}

        <!-- Collapsible content -->
        {% comment %} <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">All
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Beats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Packs</a>
            </li>

          </ul>

        </div> {% endcomment %}
        {% comment %} <div class="container" id="slider">
          <form class="tabber">
            <label for="t1" id="beatbutton">Beats</label>
            <input id="t1" name="food" type="radio" checked>
            <label for="t2" id="packbutton">Packs</label>
            <input id="t2" name="food" type="radio">
            <div class="blob"></div>
          </form>
        </div> {% endcomment %}
      
      <!--/.Navbar-->
      <div class="container" id="slider">
        <label for="t1" id="beatbutton">Beats</label>
        <label for="t2" id="packbutton">Packs</label>
      </div>
    </nav>
      <!--Section: Products Beats-->
      
      <div id="beatbox">
      {%  include "main/beatpage.html" %}
      </div>
      <div id="packbox">
      {%  include "main/packpage.html" %}
      </div>

  <!--Main layout-->

  

  <!--Pagination-->
  {% if is_paginated %}
  <nav class="d-flex justify-content-center wow fadeIn">
    <ul class="pagination pg-blue">

      <!--Arrow left-->
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}
          <span class="sr-only">(current)</span>
        </a>
      </li>


      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  <!--Pagination-->



</div>
</main>
{% endblock %}


{% block js%}
  <script>

    $('#packbox').hide();


    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }
    var Hebel = getCookie('Hebel');

    $( document ).ready(function() {

        if (Hebel == "false") {
          $('#packbox').hide();
          $('#beatbox').show();
          console.log("BEAT HEBEL FALSE");



            }
            
        else if (Hebel == "true") {
          $('#beatbox').hide();
          $('#packbox').show();
          console.log("PACKS HEBEL TRUE");


          }
        else (console.log("ERROR HEBEL: "+ Hebel));
    });



    

    $("#packbutton").click(function(){
      $('#beatbox').fadeOut();
      $('#beatbox').hide();
      $('#packbox').fadeIn();
      $('#packbox').show();
      document.cookie = 'Hebel=' + "true" + ' ;secure ;path=/';
      
    });
    $("#beatbutton").click(function(){
      $('#packbox').fadeOut();
      $('#packbox').hide();
      $('#beatbox').fadeIn();
      $('#beatbox').show();
      document.cookie = 'Hebel=' + "false" + ' ;secure ;path=/';
    });

  </script>
  {% comment %} <script type="text/javascript" src="{% static 'js/cart.js'%}"> </script> {% endcomment %}
{% endblock %}